version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: growlog_db
    restart: always
    ports:
      - "15432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgrespassword
      POSTGRES_DB: growlog
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
